body {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 20vh);

    text-align: center;
    height: 100%;
    font-family: Ubuntu, "SF Pro Text", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: hsl(0, 0%, 90%);
}

#introduction {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1/2;
    text-align: center;
    background-color: bisque;
}

#formContainer {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2/ 4;
}

#actualForm {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    	
    margin-top: 10%;
    background-color: aliceblue;

}




#result {

}



.placeholderForCountryInput {
    color: rgb(0, 204, 255);
}

.formInputBoxes {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);

    width: 50%;
    height: 5vh;
    border-radius: 10px;
    border: solid 1px #ccc;
    margin: auto;   
}

.formInputBoxes:hover {
    background-color: hsl(0, 0%, 97%);

}

#lengthOfStay {
    box-sizing: border-box;
    justify-self: center;
    grid-column-start: 3;
    grid-row-start: 1;
    width: 100%;
    height: 20%;
}

#age {
    box-sizing: border-box;
    justify-self: center;
    grid-column-start: 4;
    grid-row-start: 1;
    width: 100%;
    height: 20%;

}

#submitbtm {
    	
}


#linkContainer {
    border: 1px solid #ccc;
    height: fit-content;
    width: fit-content;


    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}



#finalWordsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 2;
    grid-column-end: 5;
}

#final-words-paragraph {
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: left;
}





#options-container {
    position: absolute;
    width: 100%;
    
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

#options-container div {
    padding: 10px;
    text-align: left;

    cursor: pointer;
}

#options-container div:hover {
    background-color: hsl(0, 0%, 90%);
}

.hidden {
    display: none;
}


#custom-select-container {
    position: relative;
    
    box-sizing: border-box;
    
    width: 100%; /* Adjust as needed */
    height:fit-content;

    margin-top: 5%;

     /* Match margin of formInputBoxes */


    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 1;
}

#custom-select {
    position: relative;

    background-color: hsl(0, 0%, 95%);
    border: 1px solid #ccc;
    border-radius: 10px; /* Match border-radius of formInputBoxes */
    cursor: pointer;
    box-sizing: border-box; /* Match box-sizing of formInputBoxes */
    height: 5vh; /* Match height of formInputBoxes */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make it the same width as .formInputBoxes */
    grid-column: span 2;
    grid-column-start: 2
}

#selected-option {
    padding: 1%;    
    text-align: left;

    color: #907979; /* Light grey color */
    width: 100%;
}









#pregnancy-options-container {
    position: absolute;
    width: 100%;
    
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    
}

#pregnancy-options-container div {
    padding: 10px;
    cursor: pointer;

    text-align: left;

}

#pregnancy-options-container div:hover {
    background-color: hsl(0, 0%, 90%);
}

#pregnancy-select-container {
    position: relative;


    box-sizing: border-box;
    
    width: 100%; /* Adjust as needed */
    margin-bottom: 5%; /* Match margin of formInputBoxes */

    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 1;


    align-self: end;

}

#pregnancy-select {
    background-color: hsl(0, 0%, 95%);
    border: 1px solid #ccc;
    border-radius: 10px; /* Match border-radius of formInputBoxes */
    cursor: pointer;
    box-sizing: border-box; /* Match box-sizing of formInputBoxes */
    height: 5vh; /* Match height of formInputBoxes */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make it the same width as .formInputBoxes */
    grid-column: span 2;
    grid-column-start: 2
}

#selected-pregnancy-option {
    padding: 1%;
    text-align: left;

    color: #907979; /* Light grey color */
    width: 100%;
}