

body {
    background-color: white;
    margin: 0;
}

#introduction {
    margin: 0.5vw;
    margin-bottom: 0px;

}
#introduction p {
    margin: 0.5vw;
    margin-bottom: 0px;
}


#hamnav {
    display: none;
}


.sideCards {
    background-color: blue;
    margin: 0;
    height: 100vh;
    width: 20vw;
}

#sideCardRight {
    position: relative;
    float: right;

    background-image: url("waterRoughSideImage.jpg");

}

#sideCardLeft {
    position: relative;
    float: left;

    background-image: url("beachWaveSideImage.jpg");
}




#formContainer {
    box-sizing: border-box;
    background-color: white;

    margin: auto;

    padding: 5%;
    padding-bottom: 0;

    width: 60%;
}

#actualForm {
    position: relative;
    background-color: white;
    width: 50%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;

    padding: 2%;


    max-height: 90vh;

    

    justify-content: space-between;

    border-radius: 20px;

    -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
}



#resultsDivContainer {
    display: none;
    overflow-y: auto;


    flex-grow: 1; /* Allow resultsDivContainer to take up remaining space */
    max-height: calc(100% - 20px); /* Ensure it doesn’t exceed actualForm’s height */
    margin-top: 20px; /* Adjust spacing between form inputs and results */

}



#formInputs {
    background-color: white;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    position: sticky;
    top: 0%;

    display: flex;
    flex-wrap: wrap;

    margin: 0%;
    padding: 0%;

    justify-content: space-between;
}


#lengthOfStay, #age {
    box-sizing: border-box;

    width: 49%;
    height: 5vh;

    margin: 1% 0%;

    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#lengthOfStay:hover, #age:hover {
    background-color: hsl(0, 0%, 99%);
}

#lengthOfStay {
    margin-right: 1%;
}
#age {
    margin-left: 1%;
}

#submitBtn {
    width: 100%;
    height: 5vh;
    border: 1px solid #ccc;
    border-radius: 10px;

    background-color: hsl(334, 100%, 45%) !important;
}





#linkContainer {
    border: 1px solid #ccc;
    border-radius: 10px;

    padding: 2%;
    text-align: center;

    width: fit-content;
    margin: auto;
    margin-top: 10%;
}

#linkContainer a {
    color: black;
    text-decoration: none;
    cursor: pointer;

}







#options-container {
    position: absolute;
    width: 100%;
    
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

#options-container div {
    padding: 10px;
    text-align: left;

    cursor: pointer;
}

#options-container div:hover {
    background-color: hsl(0, 0%, 90%);
}

.hidden {
    display: none;
}


#custom-select-container {
    position: relative;
    
    box-sizing: border-box;
    
    width: 100%; /* Adjust as needed */
    height:fit-content;


     /* Match margin of formInputBoxes */


    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 1;
}

#custom-select {
    position: relative;

    background-color: hsl(0, 0%, 100%);
    border: 1px solid #ccc;
    border-radius: 10px; /* Match border-radius of formInputBoxes */
    cursor: pointer;
    box-sizing: border-box; /* Match box-sizing of formInputBoxes */
    height: 5vh; /* Match height of formInputBoxes */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make it the same width as .formInputBoxes */
    grid-column: span 2;
    grid-column-start: 2
}
#custom-select:hover {
    background-color: hsl(0, 0%, 99%);
}

#selected-option {
    height: 100%;
    padding: 1%;    
    text-align: left;
    align-content: center;

    color: #907979; /* Light grey color */
    width: 100%;
}









#pregnancy-options-container {
    position: absolute;
    width: 100%;
    
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    
}

#pregnancy-options-container div {
    padding: 10px;
    cursor: pointer;

    text-align: left;

}

#pregnancy-options-container div:hover {
    background-color: hsl(0, 0%, 99%);
}

#pregnancy-select-container {
    position: relative;


    box-sizing: border-box;
    
    width: 100%; /* Adjust as needed */
    margin-bottom: 5%; /* Match margin of formInputBoxes */

    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 1;


    align-self: end;

}

#pregnancy-select {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #ccc;
    border-radius: 10px; /* Match border-radius of formInputBoxes */
    cursor: pointer;
    box-sizing: border-box; /* Match box-sizing of formInputBoxes */
    height: 5vh; /* Match height of formInputBoxes */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make it the same width as .formInputBoxes */
    grid-column: span 2;
    grid-column-start: 2
}
#pregnancy-select:hover {
    background-color: hsl(0, 0%, 99%);
}

#selected-pregnancy-option {
    padding: 1%;
    text-align: left;

    height: 100%;
    align-content: center;

    color: #907979; /* Light grey color */
    width: 100%;
}





