body{
    text-align: center;
    height: 100%;
    font-family: Ubuntu, "SF Pro Text", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: hsl(0, 0%, 23%);

    display: grid;
    grid-template-columns: repeat(5, 100px);
}



#hamnav {
    background-image: url("hamburger-icon.png");
    background-size:contain;
    height: 75px;
    background-repeat:no-repeat;

    display: grid;
    grid-column: 1;
}
#hamitems {
    visibility: hidden;
}
#hamnav:hover > #hamitems{
    visibility: visible;
}



form {
    display: block;
    background-color: hsl(0, 0%, 23%);
    text-align: center;
    color: white;
}

input, select, button {
    background-color:hsl(0, 0%, 55%);
    font-size: 1.5em;
    border: 1px solid hsl(184, 100%, 50%);
    border-radius: 10px;
    margin: 15px;
}

#submitBtn {
    background-color: hsl(0, 0%, 55%);
    font-size: 2em;
    border-radius: 10px;
}

#introduction {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: hsl(0, 0%, 63%);
    grid-column: 1, 5;
}

#introduction pre {
    text-align: left;

    color: white;
    visibility: visible;

}

#result {
    text-align: left;
    padding: 15px;
    visibility: hidden;
    color: white;
    border: 1px solid hsl(184, 100%, 50%);
    border-radius: 10px;
    min-height: 25vh;
    max-height: auto;
    width: 50vw;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#final-words {
    text-align: center;
    padding: 15px;
    visibility: hidden;
    color: white;
    border: 1px solid hsl(184, 100%, 50%);
    border-radius: 10px;
    min-height: 25vh;
    max-height: auto;
    width: 50vw;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#result-long {
    text-align: left;
    padding: 15px;
    visibility: hidden;
    color: white;
    border: 1px solid hsl(184, 100%, 50%);
    border-radius: 10px;
    min-height: 25vh;
    max-height: auto;
    width: 50vw;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}



